﻿@model GlobalShippingSolutions.Models.AirCargoQuote
@{
    ViewBag.Title = "Air Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OptionalJavaScriptTop{
    <script src="/Scripts/jquery.validate.min.js"></script>  
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script> 
}

<div class="container">
    <h2>Air Freight</h2>
    <p>If it just has to be there and/or your customer request quick delivery this is your option. We can move around the world most of the time same day (24 hours).</p>
    <p><label>Only top shelf Air cargo suppliers,</label>&nbsp;We have contracts with only the best air carriers available. Once we "have" your freight you just sit back and don't worry we guarantee it will be there.</p>
    <p><label>Flights 24 hours daily.</label>&nbsp;We never stop. Our Airfreight cargo carriers leave on the hour every hour of everyday.</p>
    <p><label>Around the corner or around the world.</label>&nbsp;Whether your freight is 100 miles or 10000 miles we can handle it and guarantee a delivery time</p>
    <p><i>Please make sure all information below is accurate and complete, as this will assure you the best rate and delivery time options</i></p>
    <p><i>(<span class="is-required">*</span>) Mandatory Fields</i></p>

    @using (Html.BeginForm("AirCargo", "GetQuotes", FormMethod.Post, new { @id = "airCargoQuote" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Email)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="controls">
                            <div class="col-md-2">
                                <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ContactName)
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                @Html.ValidationMessageFor(model => model.ContactName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Phone)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr />
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingFrom)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingTo)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr style="margin-top:0px;"/>
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.LoadType)
                        </div>
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.LoadType, new { @class = "allCaps" })                           
                        </div>
                        <div class="col-md-6">                            
                            @Html.DropDownListFor(model => model.LoadType, new SelectList(Model.LoadTypeList, "Value", "Text"), "Choose One", new { @class = "form-control", @style = "width: 80%;" })
                        </div>                        
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.Dimensions)
                        </div>
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Dimensions)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Dimensions, new { @class = "form-control", @style = "float: left; width: 80%;" })&nbsp;Inches
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">                         
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Weight, new { @class = "allCaps" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", @style= "float: left; width: 80%;"})&nbsp;LBS
                        </div>   
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.Weight)
                        </div>                                          
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">                        
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Classx)
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Classx, new SelectList(Model.ClassList, "Value", "Text"), "Class is Unknown", new { @class = "form-control", @style = "width: 80%;" })
                        </div> 
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.Classx)
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-md-9 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Comments)
                            &nbsp;@Html.ValidationMessageFor(model => model.Comments)
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Comments, new { @class = "main_textarea", @cols = "4", @rows = "4" })
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    <!-- /.row -->        
       
        @Html.ValidationSummary(true)
                
        <input type="submit" class="btn btn-primary" value="Get Quote" id="submit" />
    }
</div>

@section OptionalJavaScriptBottom{
    <script type="text/javascript">
        $("form").submit(function () {
            if (!$(this).valid()) {
                return false;
            }
            else {
                $('input[type="submit"]').prop('disabled', true);
                $.ajax({
                    beforeSend: function () { $("#ajax-loader").css('visibility', 'visible'); },
                    data: $("form").serialize(),
                    type: $("form").attr('method'),
                    url: $("form").attr('action'),
                    success: function (data) {
                        $("#ajax-loader").css('visibility', 'hidden');
                        if (data.Success) {                            
                            Cookies.set('EnableNotify', 'Your message has been successfully sent. Please allow up to 48 hours for a reply! Thank you!');                            
                            window.location = "/GetQuotes/AirCargo";
                        } else {
                            if (data.ErrorCode == 11) {
                                showNotification(data.ErrorMessage, "error");
                            } else {
                                var errorList = data.ModelErrorDetails;
                                for (var i = 0; i < errorList.length; i++) {
                                    var name = errorList[i].Key;
                                    var message = errorList[i].Errors[0].ErrorMessage;
                                    var error = {};
                                    error[name] = message;
                                    $("#quoteRequestForm").validate().showErrors(error);
                                    $('#' + name).parent().children("span").text(message).css("display", "inline");
                                }
                            }
                        }
                    }
                });
                return false;
            }
        });
    </script>
}











