﻿@model GlobalShippingSolutions.Models.OceanFreightQuote
@{
    ViewBag.Title = "Ocean Freight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OptionalJavaScriptTop{
    <script src="/Scripts/jquery.validate.min.js"></script>  
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script> 
}

<div class="container">
    <h2>Ocean Freight</h2>
    <p>Ocean or overseas shipping can be used for all types of cargo. This includes commercial and industrial materials, as well as personal goods such as, furniture, house goods, and automobiles. Container size, weight, necessary documentation, and transportation to and from the port of entry determine rates.</p>
    <hr style="margin-bottom:5px; margin-top:5px;" />
    
    <label>Less Than Container Load is Known as LCL</label>
    <p>When you don't have enough cargo for a full container, we offer less-than-container load (LCL) departures between major ports worldwide. Your cargo will be shipped in one (1) container with other people's shipments. It is a shared space. You must pay attention to the packaging of your goods for this method since it will be handled in the consolidation warehouse for packing of the container. The weight and dimensions of your shipment are necessary as ocean pricing is based on volume (per cubic meter/or cubic foot, not to exceed 45 pounds per square foot).</p>
    
    <label>Full Container Load is Known as FCL</label>
    <p>This is a method of shipping when you have enough cargo to utilize the complete container. Even though you have a full container load, 45 pounds per square foot up to a maximum of 40,000 pounds is per container, must be followed. You cannot load a container at a port. You will incur an intermodal trucking charge to you to have a container brought to where you can load your cargo and the driver will wait until you have packed the container. Usually you have 2 to 3 hours to load your cargo and then it is returned to the port for shipping.</p>
    <p>The advantage of being able to use a full container load (FCL) is that the container is sealed after you finish loading and no one will touch your cargo until you reopen it at it's destination. Customs is the only one who might open the container to inspect for clearance. </p>    
    
    <label>General Information For Decision Making</label> 
    <p>The most common containers used in ocean freight are the 20-foot and 40 foot standard containers. They are used for shipping by road and by ocean. The standard container is used because they can be easily stacked. These containers offer the lowest cost to business and the consumer in shipping large quantities or high weight content cargo. The interior dimensions of each 20 foot or 40-foot container is:</p>
    
    <p style="text-align: center;">20-ft standard container: 19'5" long x 7'8" wide x 7'9" high</p>
    <p style="text-align: center;">40-ft standard container: 39'6" long x 7'8" wide x 7'9" high</p>

    <p><i>Please supply as much information as possible. This will allow us to get you the best possible service and cost.</i></p>
    
    <p><i>(<span class="is-required">*</span>) Mandatory Fields</i></p>

    @using (Html.BeginForm("OceanFreight", "GetQuotes", FormMethod.Post, new { @id = "airCargoQuote" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Email)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="controls">
                            <div class="col-md-2">
                                <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ContactName)
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                @Html.ValidationMessageFor(model => model.ContactName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Phone)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr />
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingFrom)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingTo)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr style="margin-top:0px;"/>
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.LoadType)
                        </div>
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.LoadType, new { @class = "allCaps" })                           
                        </div>
                        <div class="col-md-6">                            
                            @Html.DropDownListFor(model => model.LoadType, new SelectList(Model.LoadTypeList, "Value", "Text"), "Choose One", new { @class = "form-control", @style = "width: 80%;" })
                        </div>                        
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">                       
                        <div class="col-md-6">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PalletsRollBoxes)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PalletsRollBoxes, new { @class = "form-control", @style = "float: left; width: 80%;" })&nbsp;Inches
                        </div>
                        <div class="col-md-12" style="margin-top: -15px;">
                            @Html.ValidationMessageFor(model => model.PalletsRollBoxes)
                        </div>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Length)
                        </div>
                        <div class="col-md-4">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Length)
                        </div>                        
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Length, new SelectList(Model.LengthList, "Value", "Text"), "Choose Type", new { @class = "form-control", @style = "width: 80%;" })
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">                         
                        <div class="col-md-5">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Weight, new { @class = "allCaps" })
                        </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", @style= "float: left; width: 80%;"})&nbsp;LBS
                        </div>   
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Weight)
                        </div>                                          
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">                        
                        <div class="col-md-5">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Equipment)
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.Equipment, new SelectList(Model.EquipmentList, "Value", "Text"), "Choose Type", new { @class = "form-control", @style = "width: 80%;" })
                        </div> 
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Equipment)
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-md-9 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.ShippingDescription)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingDescription)
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ShippingDescription, new { @class = "main_textarea", @cols = "4", @rows = "4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->

        @Html.ValidationSummary(true)
                
        <input type="submit" class="btn btn-primary" value="Get Quote" id="submit" />
    }
</div>

@section OptionalJavaScriptBottom{
    <script type="text/javascript">
        $("form").submit(function () {
            if (!$(this).valid()) {
                return false;
            }
            else {
                $('input[type="submit"]').prop('disabled', true);
                $.ajax({
                    beforeSend: function () { $("#ajax-loader").css('visibility', 'visible'); },
                    data: $("form").serialize(),
                    type: $("form").attr('method'),
                    url: $("form").attr('action'),
                    success: function (data) {
                        $("#ajax-loader").css('visibility', 'hidden');
                        if (data.Success) {
                            Cookies.set('EnableNotify', 'Your message has been successfully sent. Please allow up to 48 hours for a reply! Thank you!');
                            window.location = "/GetQuotes/OceanFreight";
                        } else {
                            if (data.ErrorCode == 11) {
                                showNotification(data.ErrorMessage, "error");
                            } else {
                                var errorList = data.ModelErrorDetails;
                                for (var i = 0; i < errorList.length; i++) {
                                    var name = errorList[i].Key;
                                    var message = errorList[i].Errors[0].ErrorMessage;
                                    var error = {};
                                    error[name] = message;
                                    $("#quoteRequestForm").validate().showErrors(error);
                                    $('#' + name).parent().children("span").text(message).css("display", "inline");
                                }
                            }
                        }
                    }
                });
                return false;
            }
        });
    </script>
}











