﻿@model GlobalShippingSolutions.Models.RailShipmentQuote
@{
    ViewBag.Title = "Rail Shipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OptionalJavaScriptTop{
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <h2>Rail Shipment (Intermodal)</h2>
    <p>Rail, also known as Piggyback or Intermodal shipments represent a very cost effective mode of shipping commodities in truckload which are not necessarily time sensitive. Intermodal is simply putting the Van trailer or Container on a rail car and moving by train. Some ocean containers can be shipped cross-country to avoid the cost of transloading. Intermodal shipments move via the nation's railroads and Global Shipping Solution can provide options for you to consider. Although shipping by rail can be less expensive than trucking, rail typically has a longer time in transit. Rail is the preferred mode for those shippers looking for the absolute cheapest way to move a long distance shipment, and is more concerned about cost than delivery time. Let GSSI rail experts discuss your next rail or intermodal move for the rail service, which best suits your needs!</p>
    <p><i>Please supply as much information as possible. This will allow us to get you the best possible service and cost.</i></p>
    <p><i>(<span class="is-required">*</span>) Mandatory Fields</i></p>

    @using (Html.BeginForm("RailShipment", "GetQuotes", FormMethod.Post, new { @id = "airCargoQuote" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Email)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="controls">
                            <div class="col-md-2">
                                <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ContactName)
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                @Html.ValidationMessageFor(model => model.ContactName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-2">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Phone)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr />
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingFrom)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryFrom, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryFrom)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryFrom, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.ShippingTo)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.ShippingTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PostalZipTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.PostalZipTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.PostalZipTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.CityStateCountryTo, new { @class = "specialLabel allCaps" })
                            &nbsp;@Html.ValidationMessageFor(model => model.CityStateCountryTo)
                        </div>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.CityStateCountryTo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->
        <hr style="margin-top:0px;" />
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.LoadType)
                        </div>
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.LoadType, new { @class = "allCaps" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.LoadType, new SelectList(Model.LoadTypeList, "Value", "Text"), "Choose One", new { @class = "form-control", @style = "width: 80%;" })
                        </div>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-6">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.PalletsRollBoxes)
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PalletsRollBoxes, new { @class = "form-control", @style = "float: left; width: 80%;" })&nbsp;Inches
                        </div>
                        <div class="col-md-12" style="margin-top: -15px;">
                            @Html.ValidationMessageFor(model => model.PalletsRollBoxes)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-3">
                            <span class="is-required">*&nbsp;</span>@Html.LabelFor(model => model.Weight, new { @class = "allCaps" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", @style = "float: left; width: 80%;" })&nbsp;LBS
                        </div>
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.Weight)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <label>Services Required&nbsp;</label><label class="specialLabel"> (Check all that apply):</label>
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.TeamService) @Html.LabelFor(model => model.TeamService, new { @class = "specialLabel" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.Liftgate) @Html.LabelFor(model => model.Liftgate, new { @class = "specialLabel" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.ResidentialDelivery) @Html.LabelFor(model => model.ResidentialDelivery, new { @class = "specialLabel" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.DriverLoad) @Html.LabelFor(model => model.DriverLoad, new { @class = "specialLabel" })
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.DriverUnload) @Html.LabelFor(model => model.DriverUnload, new { @class = "specialLabel" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.Other) @Html.LabelFor(model => model.Other, new { @class = "specialLabel" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 img-portfolio">
                <div class="control-group form-group">
                    <div class="controls">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.ShippingDescription)
                            &nbsp;@Html.ValidationMessageFor(model => model.ShippingDescription)
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.ShippingDescription, new { @class = "main_textarea", @cols = "4", @rows = "4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->

        @Html.ValidationSummary(true)

        <input type="submit" class="btn btn-primary" value="Get Quote" id="submit" />
    }
</div>

@section OptionalJavaScriptBottom{
    <script type="text/javascript">
        $("form").submit(function () {
            if (!$(this).valid()) {
                return false;
            }
            else {
                $('input[type="submit"]').prop('disabled', true);
                $.ajax({
                    beforeSend: function () { $("#ajax-loader").css('visibility', 'visible'); },
                    data: $("form").serialize(),
                    type: $("form").attr('method'),
                    url: $("form").attr('action'),
                    success: function (data) {
                        $("#ajax-loader").css('visibility', 'hidden');
                        if (data.Success) {
                            Cookies.set('EnableNotify', 'Your message has been successfully sent. Please allow up to 48 hours for a reply! Thank you!');
                            window.location = "/GetQuotes/RailShipment";
                        } else {
                            if (data.ErrorCode == 11) {
                                showNotification(data.ErrorMessage, "error");
                            } else {
                                var errorList = data.ModelErrorDetails;
                                for (var i = 0; i < errorList.length; i++) {
                                    var name = errorList[i].Key;
                                    var message = errorList[i].Errors[0].ErrorMessage;
                                    var error = {};
                                    error[name] = message;
                                    $("#quoteRequestForm").validate().showErrors(error);
                                    $('#' + name).parent().children("span").text(message).css("display", "inline");
                                }
                            }
                        }
                    }
                });
                return false;
            }
        });
    </script>
}











