﻿@{
    ViewBag.Title = "Warehousing & Loading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section OptionalJavaScriptTop{
    <script src="/Scripts/jquery.validate.min.js"></script>  
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script> 
}

<div class="container">
    <h2>Warehousing & Loading</h2>    
    <p><label>Global Shipping Solution Inc </label>&nbsp;has storage facilities to meet both household goods and commercial requirements. Our central warehouse in located in Greater Toronto Area for our airfreight, ocean freight & trucking services. We also have several other warehouses in the Ontario depending on which airport/port your cargo will depart from.</p>
    <p>We ship autos and boats from all Canada ports. We go beyond traditional safety measures by combining the latest scientific state-of-the-art packing, loading, lashing, and securing in the container. Each car is given first class attention, from the most modest vehicle to antiques. </p>
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-4"><img class="img-responsive img-portfolio img-hover" src="/Content/Images/warehousing1.jpg" alt=""></div>
            <div class="col-md-4"><img class="img-responsive img-portfolio img-hover" src="/Content/Images/warehousing2.jpg" alt=""></div>
            <div class="col-md-2"></div>
         </div>       
    </div>
    <!-- /.row -->
   
</div>













