﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container topLinksContainer">
    <a target="_blank" href="http://www.qlock.com/">Word Clock</a>
    <a target="_blank" href="http://www.bankofcanada.ca/rates/exchange/daily-converter/">Currency Convertor</a>
</div>
<!-- Header Carousel -->
<header class="container"> 
    <div>                      
        <embed src="/Content/Images/Bannerswf.swf" width="1140" height="380" />
    </div>   
</header>
<!-- Page Content -->
<div class="container">
    <hr>
    <!-- Details Section -->
    <div class="row" style="margin-top: 0px;">
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/AirCargo">
                <h3>Air Cargo</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/AirCargo.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/OceanFreight">
                <h3>Ocean Freight</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/OceanFreight.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/Trucking">
                <h3>Trucking</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/Trucking.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/Warehousing">
                <h3>Warehousing</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/Warehousing.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/RailShipment">
                <h3>Rail Shipment</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/RailShipment.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="/GetQuotes/LTLShipments">
                <h3>LTL Shipments</h3>
                <img class="img-responsive img-portfolio img-hover" src="/Content/Images/LTLShipment.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

  

