﻿@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Tracking</h2>
    <div class="container topLinksContainer2">
        <a target="_blank" href="http://www.qlock.com/">Word Clock</a>
        <a target="_blank" href="http://www.bankofcanada.ca/rates/exchange/daily-converter/">Currency Convertor</a>
    </div>
    <div class="col-md-12 noPadding">
        <div class="col-md-10 noPadding specialLink">
            <h3>Air Tracking</h3>
            <ul>
                <li><a href="http://www.redberry.com/" target="_blank">Air Tracking</a></li>
            </ul>
            <h3>Ocean Tracking</h3>
            <div class="col-md-4 noPadding">
                <ul>
                    <li><a href="http://www.apl.com/wps/portal/apl/etools/tracking" target="_blank">APL</a></li>
                    <li><a href="http://www.ec.cosco-usa.com/cargotrace/newversion/" target="_blank">COSCO</a></li>
                    <li><a href="http://www.hanjin.com/en/main.jsp" target="_blank">Hanjin</a></li>
                    <li><a href="http://www.hamburgsud.com/WWW/EN/E-Business/Track_and_Trace/index.jsp" target="_blank">Hamburg-Sud</a></li>
                    <li><a href="http://206.103.2.20/GlobalCargoTrck:Home?id=generalid" target="_blank">K-Line</a></li>
                    <li><a href="http://etrack.maersksealand.com/ats2/unreg/ctr_ats_tracking_top.jsp" target="_blank">Maersksealand</a></li>
                    <li><a href="http://www.molpower.com/htm/default.htm" target="_blank">Mitsui O.S.K Line</a></li>
                    <li><a href="http://www.nykline.com/servlet/com.ibm.abt.web.servlet.Router/WinsContainerSearchPg" target="_blank">NYK Line</a></li>
                    <li><a href="http://www.oocl.com/eng/ourservices/eservices/trackandtrace/" target="_blank">OOCL</a></li>
                </ul>
            </div>
            <div class="col-md-4 noPadding">
                <ul>
                    <li><a href="https://www.ponl.com/ecommerce" target="_blank">P&O Nedlloyd</a></li>
                    <li><a href="http://www.seaboardmarinepanama.com/cargtrak.htm" target="_blank">Seaboard Marine</a></li>
                    <li><a href="http://www.tropical.com/cargo.htm" target="_blank">Tropical Shipping</a></li>
                    <li><a href="http://www.zim.co.il/tracing.htm" target="_blank">Zim Lines</a></li>
                    <li><a href="http://www.aclcargo.com/index2.htm" target="_blank">ACL</a></li>
                    <li><a href="http://www.senatorlines.com/home/cargo/com_cargo_cgo01.jsp" target="_blank">Senator Lines</a></li>
                    <li><a href="http://www.mscgva.ch/" target="_blank">Msc</a></li>
                    <li><a href="http://safmarine.mbendi.com/index.htm" target="_blank">Safmarine Conatiner Lines</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 noPadding">
            <img src="~/Content/Images/img_tracking.gif" style="min-width:100%;" />
        </div>
    </div>
    <div class="col-md-12 noPaddingBoth">
        <hr />
    </div>
    <div class="col-md-12 noPadding" style="margin-top:20px;">
        <div class="col-md-4">
            <img src="~/Content/Images/p11.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p22.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p33.jpg" style="min-width:100%;" />
        </div>
    </div>
</div>

