﻿
@{
    ViewBag.Title = "Rates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section OptionalJavaScriptTop{    
    <script src="/Scripts/jquery.lettering.js"></script>
    <script src="/Scripts/jquery.textillate.js"></script>
}

@section OptionalCSS{
    <link href="/Content/animate.css" rel="stylesheet" type="text/css" />
}

@section OptionalJavaScriptBottom{
    <script>
        $(function () {
            $('.animatedText').textillate({
               
                loop: true,
                minDisplayTime: 2000,
                initialDelay: 0,               
                autoStart: true,
               
                in: {                    
                    effect: 'fadeInLeftBig',                    
                    delayScale: 1.5,
                    delay: 50,                    
                    sync: false,
                    shuffle: false,
                    reverse: false                    
                },
                
                out: {
                    effect: 'fadeOut',
                    delayScale: 1.5,
                    delay: 50,
                    sync: false,
                    shuffle: false,
                    reverse: false                    
                },
            });
        })
    </script>    
}
<div class="container">
    <h2>Rates &amp; Pickup</h2>
    <div class="container topLinksContainer2">
        <a target="_blank" href="http://www.qlock.com/">Word Clock</a>
        <a target="_blank" href="http://www.bankofcanada.ca/rates/exchange/daily-converter/">Currency Convertor</a>
    </div>
    <div class="col-md-12 noPadding">
        <div class="col-md-4 noPadding">
            <img src="~/Content/Images/2_p3.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-8 noPadding">
            <p>Global shipping a full service of freight forwarding company. We take care of the complete transport and handling of all your shipments that is 100% guaranteed. We treat every shipment with the same dedication no matter how big or small.</p>
        </div>
    </div>
    <div class="col-md-12 noPadding" style="margin-top:20px;">
        <div class="col-md-4 noPadding" style="font-size: 24px; margin-top: 50px;">
            <div class="animatedText" style="text-align:center;">Instant Rates Quotes</div><div class="animatedText" style="text-align:center;">One Click does the Trick</div>
        </div>
        <div class="col-md-8 noPadding">
            <div class="col-md-12 noPadding" style="margin-top: -20px;">
                <h3>Click Below For Rates Quotes</h3>
            </div>
            <div class="col-md-12 noPadding specialLink" style="margin-top: 10px;">
                <ul>
                    <li><a href="/GetQuotes/Trucking">Full Truckload</a></li>
                    <li><a href="/GetQuotes/LTLShipments">LTL Freight</a></li>
                    <li><a href="/GetQuotes/AirCargo">Air Cargo</a></li>
                    <li><a href="/GetQuotes/OceanFreight">Ocean freight</a></li>                  
                    <li><a href="/GetQuotes/RailShipment">Rail Shipment (Intermodal)</a></li>
                    <li><a href="/GetQuotes/Warehousing">Warehousing & Loading</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 noPaddingBoth">
        <hr />
    </div>
    <div class="col-md-12 noPadding" style="margin-top:20px;">
        <div class="col-md-4">
            <img src="~/Content/Images/p11.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p22.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p33.jpg" style="min-width:100%;" />
        </div>
    </div>
</div>

