/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

a{
    color:#101010;
}

a:focus, a:hover{
    color:#101010;
    text-decoration:none;
}

hr {   
    margin-bottom: 0;
}

.img-portfolio {
    margin-bottom: 10px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

/*header.carousel {
    height: 65%;
}*/

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 20px 0;
    text-align: center;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.topLinksContainer{
    text-align:right;
    margin-top:25px;
    margin-bottom:10px;  
    padding-right: 13px;  
}

.topLinksContainer a, .topLinksContainer2 a{    
    color: #fff;
    background-color:#333;   
    margin:2px;
    padding:7px;    
}

.carousel-control.right {    
    right: 15px;
}

.carousel-control {    
    left: 15px;
}

.is-required{
    color:red;
}

.specialLabel{
    font-weight:500;
}

.allCaps{
    text-transform:uppercase;
}

.form-control
{
    height:23px;
    margin-bottom:10px;
    padding: 0 6px;
}

.row {   
    margin-top: 20px;
}

/*.field-validation-valid {
    color:red;
    font-size: 10px;
}*/

.field-validation-error {
    color:red;
    font-size: 10px;
}

.controls{
    min-height:18px;
}

.main_textarea {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 100px;
    line-height: 1.42857;
    /*padding: 6px 12px;*/
    padding: 2px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    resize: none;
}

h2{
    margin-bottom: 12px;
    font-size: 28px;
    border-bottom:1px solid #eee;
    padding-bottom: 3px;
    padding-left: 3px;
}

p{
    line-height: 25px;
}
label{
    margin-bottom: 0;
}

.topLinksContainer2 {
    margin-bottom: 10px;
    margin-top: -42px;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: right;
}

.noPadding{
    padding-left:0px;
}

.noPaddingBoth{
    padding-left:0px;
    padding-right:0px;
}

ul {
    list-style-image: url(/Content/Images/1_z1.gif);
}
li{
    font-weight: 700;
}

.specialLink a {
            color: #333;
            text-decoration:underline;
        }
h3{
    font-size:20px
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight:500;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight:500;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration:underline;
  font-weight:500;
}