﻿
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Services</h2>
    <div class="container topLinksContainer2">
        <a target="_blank" href="http://www.qlock.com/">Word Clock</a>
        <a target="_blank" href="http://www.bankofcanada.ca/rates/exchange/daily-converter/">Currency Convertor</a>
    </div>
    <div class="col-md-10 noPadding">
        <p>We specialize in offering full-service transportation solutions with customized options Our services are all logistic services in the field of Air, Ocean and Truck freight services.</p>
    </div> 
    <div class="col-md-2">
        <img src="~/Content/Images/img_services.gif" style="min-width:100%;" />
    </div>
    <div class="col-md-10 noPadding" style="margin-top: -60px;">
        <h3>Scope of services</h3>
    </div> 
    <div class="col-md-12 noPadding">
        <div class="col-md-6 noPadding">
            <ul>
                <li>Airfreight export</li>
                <li>Airfreight import</li>
                <li>Ocean freight export</li>
                <li>Ocean freight import</li>
                <li>Handling and treatment of all customs formalities</li>
                <li>Arranging and coordination of all logistic movements</li>
                <li>Advisory in customs affaires and logistic bottlenecks</li>
            </ul>
        </div>
        <div class="col-md-6 noPadding">
            <ul>
                <li>Worldwide Agents</li>
                <li>Storage</li>
                <li>Cargo Distribution</li>
                <li>Arranging dangerous goods ready for carriage</li>
                <li>Perishables Temperature controlled around the world-on time</li>
                <li>Cargo Insurance "Warehouse to Warehouse" including Air, Marine and Land transportation,</li>
                <li>Letter of Credit</li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 noPaddingBoth">
        <hr />
    </div>
    <div class="col-md-12 noPadding" style="margin-top:20px;">
        <div class="col-md-4">
            <img src="~/Content/Images/p11.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p22.jpg" style="min-width:100%;" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/p33.jpg" style="min-width:100%;" />
        </div>
    </div>
</div>

