﻿@using GlobalShippingSolutions.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Global Shipping Solution - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/Content/site.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="/Content/Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Noty Theme -->
    <link href="~/Content/notyTheme.css" rel="stylesheet" />
    @RenderSection("OptionalCSS", false)
    <!-- jQuery -->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>  
    <!-- JS Cookie JavaScript -->
    <script src="/Scripts/js.cookie.js"></script> 
    <!-- jQuery Noty -->
    <script src="/Scripts/jquery.noty.packaged.min.js"></script>
    <!-- Custom Script -->
    <script src="/Scripts/script.js"></script>
    @RenderSection("OptionalJavaScriptTop", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> Global Shipping Solution</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @Html.MenuLink("CompanyInfo", "Index", "CompanyInfo")
                    @Html.MenuLink("Services", "Index", "Services")
                    @Html.MenuLink("Rates", "Index", "Rates")
                    @Html.MenuLink("Tracking", "Index", "Tracking")
                    @Html.MenuLink("Contact Us", "Index", "ContactUs")                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @RenderBody()
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; @DateTime.Now.Year Global Shipping Solution. All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->  
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    @RenderSection("OptionalJavaScriptBottom", false)
</body>
</html>

