﻿
@{
    ViewBag.Title = "Company Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Company Info</h2>
    <div class="col-md-12 noPadding">
        <p><label>Global Shipping Solutions Inc.</label>&nbsp;(GSSI) is a medium sized organization with international operational network in over 46 countries. It is established in 2004 with an object to provide the core freight customers with full range of air, ocean and land transportation from your door to worldwide or otherwise on whether FOB or CIF basis, in the most convenient, economical and safe manner, possible. We also, provide insurance facility for your valuable commodity moving from and to doorstep.</p>
        <div class="col-md-12">
            <div style="overflow: hidden;">
                <img src="~/Content/Images/img_company.jpg" style="min-width:100%;" />
            </div>
        </div>
        <p>GSSI is well equipped with communication technologies under professional and qualified management to cater the exports and imports affairs (e.g. documentation, packing, insurance, customs affairs, etc.) of its customers. Apart from having an expertise in handling over sized commercial and personal cargo, our IATA and airlines certified management is fully capable to deal with perishable, dangerous/hazardous (DGR) and clinical sensitive shipments that could be, chemicals, gases, oils and or bio samples as per the safety requirements of the airlines.</p>               
    </div>
</div>

